<li id='todo-{{todo.id}}' 
	{{#if todo.done}}class="completed"{{/if}}>
	<input type="checkbox" 
		{{#if todo.done}}checked{{/if}}
		hx-patch="/todos/{{todo.id}}"
		hx-trigger="click"
		hx-swap="outerHTML"
		hx-target="#todo-{{todo.id}}"
	/>
	<label>{{todo.name}}</label>
	<button 
		hx-delete="/todos/{{todo.id}}"
		hx-trigger="click"
		hx-swap="outerHTML"
		hx-target="#todo-{{todo.id}}"
		>Remove</button>
</li>
